<p id="notice"><%= notice %></p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery %>
</p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Price:</strong>
  <%= @beer.price %>
</p>

<p>
  <strong>Abv:</strong>
  <%= @beer.abv %>
</p>

<p>
  <strong>Untapped beer:</strong>
  <%= @beer.Untapped_Beer %>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
